<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>540720843562-31jaco1hkl835c6g4joa8lgg62t0k6qo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.540720843562-31jaco1hkl835c6g4joa8lgg62t0k6qo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>540720843562-b61r0cnp3s2vtk92vsll76krd7vmbnel.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBKehryR8Jev9zx8r7YRWoEBSEx3g0xFho</string>
	<key>GCM_SENDER_ID</key>
	<string>540720843562</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflux.eventure</string>
	<key>PROJECT_ID</key>
	<string>flutter-flux-yx8nrn</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-flux-yx8nrn.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540720843562:ios:0c6012a3dc0d3b3e8eac53</string>
</dict>
</plist>